#nametext {
	color: #2f1962;
    text-align: center;
    font-size: 8em;
    font-family: 'Rock Salt', cursive;
    line-height: 70%;
}
p {
	font-family: 'Verdana';
	text-align: center;
	font-size 2em;
	line-height: 200%;
}
#sketch1css {
 position: relative;
  top: 0px;
  left: 40px;
}
#sketch2css {
 position: relative;
  top: 40px;
  left: 40px;

}
#sketch3css {
 position: relative;
  top: -315px;
  left: 364px;

}
#sketch4css {
 position: relative;
  top: -307px;
  left: 40px;

}
#sketch5css {
 position: relative;
  top: -355px;
  left: 324px;

}

#test {
	color:red;
}